@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

.book .book-summary {
  background: #2A415F;
}


.book .book-body {
  background: #496282;
}

.book .book-summary ul.summary li, 
.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span,
.book .book-summary ul.summary li.active a, 
.book .book-summary ul.summary li.done > a, 
.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li i.fa-check {
  color: #e8f1f2;
}

.book .book-summary ul.summary li a:hover {
  background: #393A3B;
  text-decoration: none;
}

.book .book-summary ul.summary li a.gitbook-link {
  color: #e9eef2;
}

.book .book-summary ul.summary li.done i.fa-check
{
  display: none;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  border: 1px solid #ccc;
}

table { caption-side: bottom }

@font-face {
  font-family: "DM Sans", serif;
}

h1 {
  font-family: "DM Sans", serif;
  font-size:   48px;
  font-weight: normal;
}


h2,h3,h4 {
  font-family: "DM Sans", serif;
  font-size:   24px;
  font-weight: normal;
}

.book.font-family-0 {
  font-family: "DM Sans", serif;
}
.book.font-family-1 {
  font-family: "DM Sans", serif;
}

.summary{
font-family: "DM Sans", serif;
}


li.appendix span, li.part span { /* for TOC part names */
  font-family: "DM Sans", serif;
  margin-top: 1.5em;
  opacity: 1 !important;
  text-transform: uppercase;
}