@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@350&display=swap');


.book .book-summary {
  background: #2A415F;
}


.book .book-body {
  background: #496282;
}

.book .book-summary ul.summary li, 
.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span,
.book .book-summary ul.summary li.active a, 
.book .book-summary ul.summary li.done > a, 
.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li i.fa-check {
  color: #e8f1f2;
}

.book .book-summary ul.summary li a:hover {
  background: #393A3B;
  text-decoration: none;
}

.book .book-summary ul.summary li a.gitbook-link {
  color: #e9eef2;
}

.book .book-summary ul.summary li.done i.fa-check
{
  display: none;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  border: 1px solid #ccc;
}

table { caption-side: bottom }

/*____Change fonts to Lexend___*/
@font-face {
  font-family: "Lexend";
}


h1 {
  font-family: "Lexend";
  font-size:   48px;
}


h2,h3,h4 {
  font-family: "Lexend";
  font-size:   24px;
}

.book.font-family-0 {
  font-family: "Lexend";
}

.book.font-family-1 {
  font-family: "Lexend";
}

.summary{
font-family: "Lexend";
}


li.appendix span, li.part span { /* for TOC part names */
  font-family: "Lexend";
  margin-top: 1.5em;
  opacity: 1 !important;
  text-transform: uppercase;
}


/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
  font-family: "Lexend";
  font-size:   16px;
  font-weight: normal;
}